body {
  width: auto;
  max-width: 1440px;
  margin: auto;
}

header {
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

#logo {
  margin: 45px 0px 25px 50px;
}

header nav {
  position: relative;
  padding: 0px;
  margin-right: 20px;
  width: 480px;
}

nav li {
  width: 160px;
}

header a {
  border-top: 2px solid #f2f2f2;
  padding-top: 45px;
}

#acco_link {
  top: 0;
  width: 160px;
}

#acti_link {
  top: 0;
  width: 160px;
}

#subscribe {
  top: 0;
  width: 160px;
  text-align: center;
}

/* search */

#search_section {
  margin-left: 55px;
}

#search_section h1 {
  margin: 5px 0 0;
}

#search_section h2 {
  margin: 10px 0 15px;
  padding: 0px;
}

#search_btn2 {
  position: absolute;
  display: flex;
  left: 290px;
  bottom: -1px;
  width: 140px;
  height: 51px;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  border: none;
}

#search_btn2 p {
  color: white;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  margin: auto;
}

#search_btn1 {
  display: none;
}

/* Filtres */

#filters_section {
  margin: 25px 0 30px 63px;
  justify-content: flex-start;
  align-items: baseline;
}

#filters_section h1 {
  width: fit-content;
  margin-right: 30px;
}

.filter_box h2 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: 60px;
}

.filter_box {
  margin-right: 24px;
}

.fb1 {
  width: 190px;
}

.fb2 {
  width: 148px;
}

.fb3 {
  width: 180px;
}

.fb4 {
  width: 238px;
}

/* info */

#info_section {
  margin: 20px 0 35px 55px;
}

/* accommodations */

#accommodations {
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 50px 10px 50px;
}

#famous_container {
  width: 420px;
  height: 625px;
  border-radius: 20px;
}

#famous_title {
  margin: 46px 40px 25px 40px;
}

.famous_card {
  width: 343px;
  margin-bottom: 33px;
}

.famous_txt_box {
  height: 134px;
  width: 180px;
}

.famous_txt_box .name {
  margin: 8px 0 0 20px;
}

.famous_txt_box .price {
  margin: 7px 0 0 20px;
}

.famous_txt_box .star_box {
  margin: 44px 0 0 20px;
}

.famous_img {
  width: 127px;
  height: 134px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 5px;
}

.fi1 {
  background-size: 170%;
  background-position: -45px -5px;
}

.fi2 {
  background-size: 150%;
  background-position: -32px -5px;
}

.fi3 {
  background-size: 107%;
  background-position: -4px -35px;
}

#places_container {
  width: 880px;
  height: 625px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

#places_container h1 {
  margin: 46px 0 25px 50px;
}

#places_card_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 40px;
}

.places_card {
  width: 246px;
  height: 199px;
  margin-bottom: 30px;
}

.places_txt_box {
  width: 236px;
}

.places_img {
  width: 236px;
}

.pi1 {
  background-size: 103%;
  background-position: -3px -25px;
}

.pi2 {
  background-size: 103%;
  background-position: -3px -22px;
}

.pi3 {
  background-size: 103%;
  background-position: -5px -22px;
}

.pi4 {
  background-size: 103%;
  background-position: -5px -55px;
}

.pi5 {
  background-size: 103%;
  background-position: -2px -12px;
}

.pi6 {
  background-size: 104%;
  background-position: -4px -127px;
}

#more {
  margin: 5px 0 0 50px;
}

/* activities */

#activities {
  flex-direction: column;
  height: 600px;
  margin: 0 50px 0 50px;
}

#activities h1 {
  margin: 40px 0 25px 0;
}

#activities_card_container {
  display: flex;
  justify-content: space-between;
}

.activities_card {
  width: 302px;
  margin: 0px;
}

.card_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card1,
.card4 {
  height: 444px;
}

.card2 {
  height: 236px;
}

.card3 {
  height: 164px;
}

.card5 {
  height: 194px;
}

.card6 {
  height: 210px;
}

.activities_img {
  width: 302px;
  border-radius: 20px 20px 0px 0px;
}

.card1 .activities_img {
  height: 389px;
}

.card4 .activities_img {
  height: 389px;
}

.card2 .activities_img {
  height: 181px;
}

.card3 .activities_img {
  height: 109px;
}

.card5 .activities_img {
  height: 139px;
}

.card6 .activities_img {
  height: 155px;
}

.ai1 {
  background-size: 225%;
  background-position: -185px -10px;
}

.ai2 {
  background-size: 100%;
  background-position: 0px -110px;
}

.ai3 {
  background-size: 100%;
  background-position: 0px -19px;
}

.ai4 {
  background-size: 221%;
  background-position: -183px 0px;
}

.ai5 {
  background-size: 100%;
  background-position: 0px -2px;
}

.ai6 {
  background-size: 100%;
  background-position: 0px -10px;
}

/* Footer */

footer {
  padding: 50px 0 55px 50px;
}

.about {
  margin-right: 225px;
}

.our_acco {
  margin-right: 285px;
}
