body {
  border: 1px solid black;
  background-color: white;
  font-family: "Raleway", arial, sans-serif;
  letter-spacing: -0.3px;
  width: auto;
}

header {
  border: 1px solid green;
  position: relative;
  display: flex;
  flex-direction: column;
}

#logo {
  border: 1px solid pink;
}

nav ul {
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav a {
  border: 1px solid pink;
  font-size: 1.04em;
  font-weight: 400;
  text-decoration: none;
}

/* search */

#search_section {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search_title h1 {
  border: 1px solid pink;
  font-size: 1.4em;
  font-weight: 700;
  width: 333px;
  padding: 0px;
  margin-bottom: 16px;
}

#search_title h1::first-letter {
  letter-spacing: -3px;
}

#search_title p {
  border: 1px solid pink;
  font-size: 1.04em;
  font-weight: 400;
  width: 333px;
  padding: 0px;
  margin-bottom: 35px;
}

#search_box {
  position: relative;
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  width: 334px;
  height: 49px;
  padding: 0px;
  margin-bottom: 36px;
}

#map_btn {
  position: absolute;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  width: 51px;
  height: 51px;
  right: 284px;
  bottom: -1px;
}

#map_icon {
  width: 15px;
  margin: auto;
}

#search_txt {
  position: absolute;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  border: none;
  outline: none;
  width: 206px;
  height: 20px;
  top: 13px;
  left: 50px;
  padding-left: 20px;
}

#search_btn {
  position: absolute;
  left: 283px;
  bottom: -1px;
  width: 51px;
  height: 51px;
  background-color: #0065fc;
  border-radius: 15px;
  border: none;
  display: flex;
}

#search_btn .fas {
  margin: auto;
  color: white;
  font-size: 20px;
}

/* Filtres */

#filters_section {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters_section h1 {
  border: 1px solid pink;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0px;
  padding-left: 3px;
  width: 328px;
  margin-bottom: 18px;
}

#filters_container {
  border: 1px solid pink;
  display: flex;
  flex-wrap: wrap;
  width: 328px;

  margin-bottom: 31px;
}

.filter_box {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  height: 46px;
}

.fb1 {
  width: 173px;
  margin: 0px 11px 13px 0px;
}

.fb2 {
  width: 136px;
}

.fb3 {
  width: 165px;
  margin-bottom: 13px;
}

.fb4 {
  width: 216px;
}

.filter_btn {
  position: absolute;
  display: flex;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: -3px;
}

.filter_icon {
  color: #0065fc;
  margin: auto;
}

.fb1 .fas {
  font-size: 18px;
}

.fb2 .fas {
  font-size: 21px;
}

.fb3 .fas {
  font-size: 19px;
}

.fb4 .fas {
  font-size: 21px;
}

.filter_box p {
  font-size: 1em;
  font-weight: 700;
  padding-left: 60px;
}

/* info */

#info_container {
  border: 1px solid pink;
  display: flex;
  align-items: baseline;
  margin-bottom: 39px;
}

#info_btn {
  display: flex;
  background-color: white;
  border: 1px solid #f2f2f2;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

#info_btn .fas {
  margin: auto;
  color: #0065fc;
  font-size: 12px;
}

#info_container p {
  font-size: 1.04em;
  font-weight: 400;
  padding: 0px;
  width: 297px;
  margin: 0px 0px 0px 12px;
}

/* famous accommodations */

#accommodation h1 {
  font-size: 1.4em;
  font-weight: 700;
}

.name {
  font-weight: 700;
  font-size: 1.05em;
}

.price {
  font-weight: 400;
  font-size: 93%;
}

.star_box {
  width: 70px;
  display: flex;
  justify-content: space-between;
  color: #0065fc;
  font-size: 12px;
}

#famous_container {
  border: 1px solid green;
  background-color: #f2f2f2;
  padding-bottom: 26px;
}

#famous_title {
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 335px;
  margin: auto;
}

#famous_title h1 {
  margin: 43px 0 22px 0;
}

#famous_title .fas {
  font-size: 23px;
}

.famous_box {
  display: flex;
  align-items: center;
  width: 335px;
  height: 144px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(209, 204, 204);
  margin: auto;
  margin-bottom: 11px;
}

.famous_txt_box {
  height: 134px;
  width: 180px;
}

.famous_txt_box .name {
  margin: 8px 0 0 20px;
}

.famous_txt_box .price {
  margin: 5px 0 0 20px;
}

.famous_txt_box .star_box {
  margin: 38px 0 0 20px;
}

.fsb2 .fas:nth-child(5) {
  color: #e4e1e1;
}

.fsb3 .fas:nth-child(5) {
  color: #e4e1e1;
}

.famous_img {
  width: 127px;
  height: 134px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 5px;
}

.fi1 {
  background-image: url(images/hebergements/4_small/soleil-du-matin.jpg);
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: -45px -5px;
}

.fi2 {
  background-image: url(images/hebergements/4_small/coeur-de-l-eau.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: -32px -5px;
}

.fi3 {
  background-image: url(images/hebergements/4_small/bleu-et-blanc.jpg);
  background-repeat: no-repeat;
  background-size: 107%;
  background-position: -4px -35px;
}

/* accommodations */

#places_container {
  border: 1px solid green;
}

#places_container h1 {
  width: 335px;
  margin: auto;
  margin-top: 41px;
  margin-bottom: 19px;
}

.places_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 335px;
  height: 200px;
  background-color: white;
  padding-top: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(209, 204, 204);
}

.places_txt_box {
  width: 325px;
  height: 80px;
}

.places_txt_box .name {
  margin: 9px 0 0 10px;
}

.places_txt_box .price {
  margin: 6px 0 9px 10px;
}

.places_txt_box .star_box {
  margin-left: 9px;
}

.psb1 .fas:nth-child(5) {
  color: #e4e1e1;
}

.psb3 .fas:nth-child(5) {
  color: #e4e1e1;
}

.psb4 .fas:nth-child(4) {
  color: #e4e1e1;
}

.psb4 .fas:nth-child(5) {
  color: #e4e1e1;
}

.psb5 .fas:nth-child(5) {
  color: #e4e1e1;
}

.places_img {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
}

.pi1 {
  background-image: url(images/hebergements/3_medium/auberge-la-cannebiere.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -55px;
}

.pi2 {
  background-image: url(images/hebergements/3_medium/hotel-du-port.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -55px;
}

.pi3 {
  background-image: url(images/hebergements/3_medium/hotel-les-mouettes.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -55px;
}

.pi4 {
  background-image: url(images/hebergements/3_medium/hotel-de-la-mer.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -97px;
}

.pi5 {
  background-image: url(images/hebergements/3_medium/auberge-le-panier.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -35px;
}

.pi6 {
  background-image: url(images/hebergements/3_medium/hotel-chez-amina.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -4px -193px;
}

#more_btn {
  border: none;
  color: black;
  background-color: white;
  text-decoration: none;
  padding-left: 20px;
}

/* activities */

#activities {
  border: 1px solid green;
}

.activities_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 335px;
  height: 190px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(209, 204, 204);
}

.activities_txt_box {
  width: 335px;
  height: 55px;
}

.activities_txt_box .name {
  margin-left: 20px;
  margin-bottom: 20px;
}

.activities_img {
  width: 335px;
  height: 135px;
  border-radius: 20px 20px 0px 0px;
}

.ai1 {
  background-image: url(images/activites/3_medium/vieux-port.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -18px;
}

.ai2 {
  background-image: url(images/activites/4_small/fort-de-pomegues.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -155px;
}

.ai3 {
  background-image: url(images/activites/3_medium/iles-du-frioul.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -15px;
}

.ai4 {
  background-image: url(images/activites/2_large/les-calanques.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -15px;
}

.ai5 {
  background-image: url(images/activites/4_small/nd-de-la-garde.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -13px;
}

.ai6 {
  background-image: url(images/activites/3_medium/parc-longchamp.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -28px;
}

footer {
  border: 1px solid green;
  background-color: #f2f2f2;
}

footer h2 {
  border: 1px solid red;
  padding-left: 30px;
}

footer ul {
  list-style-type: none;
  border: 1px solid red;
  padding-left: 30px;
}

footer li {
  border: 1px solid blue;
}

footer a {
  text-decoration: none;
  color: black;
}
