#page_block {
  width: 375px;
  border: 1px solid blue;
  padding: 20px;
}

body {
  border: 1px solid black;
  width: auto;
  background-color: white;
}

/* search */

#search_box {
  position: relative;
  padding: 0px;
  border: 1px solid #f2f2f2;
  width: 333px;
  height: 50px;
  border-radius: 15px;
  display: flex;
}

#map_btn {
  position: absolute;
  width: 51px;
  height: 51px;
  right: 283px;
  bottom: 0px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  display: flex;
}

#map_icon {
  width: 15px;
  margin: auto;
}

#search_txt {
  position: absolute;
  top: 13px;
  left: 50px;
  width: 206px;
  height: 20px;
  border: none;
  outline: none;
  padding-left: 20px;
}

#search_btn {
  position: absolute;
  left: 283px;
  bottom: 0;
  width: 51px;
  height: 51px;
  background-color: #0065fc;
  border-radius: 15px;
  border: none;
  display: flex;
}

#search_icon {
  margin: auto;
  color: white;
  font-size: 20px;
}

/* Filtres */

#filters_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
}

.filter_box {
  position: relative;
  display: flex;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  height: 50px;
  width: fit-content;
}

.filter_btn {
  position: absolute;
  left: -8px;
  bottom: -2px;
  display: flex;
  width: 55px;
  height: 55px;
  background-color: #deebff;
  border-radius: 50%;
}

.filter_icon {
  margin: auto;
  color: #0065fc;
}

.filter_box p {
  padding-left: 60px;
  padding-right: 20px;
}

/* info */

#info_container {
  display: flex;
  align-items: baseline;
}

#info_btn {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  display: flex;
}

#info_icon {
  margin: auto;
  color: #0065fc;
}

#info_container p {
  padding-left: 10px;
}

/* famous accommodations */

#famous_container {
  background-color: #f2f2f2;
  height: fit-content;
  padding-bottom: 36px;
}

#famous_title {
  display: flex;
  justify-content: space-between;
}

.famous_box {
  display: flex;
  align-items: center;
  width: 335px;
  height: 145px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(209, 204, 204);
}

#famous_img1 {
  width: 126px;
  height: 134px;
  border-radius: 15px 0px 0px 15px;
  background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 185%;
  background-position: -45px -5px;
  margin: auto;
  margin-left: 5px;
}

#famous_img2 {
  width: 126px;
  height: 134px;
  border-radius: 15px 0px 0px 15px;
  background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 185%;
  background-position: -45px -5px;
  margin: auto;
  margin-left: 5px;
}

#famous_img3 {
  width: 126px;
  height: 134px;
  border-radius: 15px 0px 0px 15px;
  background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -20px;
  margin: auto;
  margin-left: 5px;
}

.famous_txt_box {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 180px;
  height: 134px;
}

.famous_txt_box h2 {
  position: absolute;
  top: 0px;
}

.famous_txt_box p {
  position: absolute;
  top: 60px;
}

.famous_txt_box .star {
  display: flex;
  position: absolute;
  color: #0065fc;
  bottom: 0px;
  font-size: 12px;
}

/* accommodations */

#places_container {
  height: fit-content;
  padding-bottom: 36px;
}

.places_box {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 200px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgb(209, 204, 204);
}

#places_img1 {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -55px;
}

#places_img2 {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -55px;
}

#places_img3 {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -55px;
}

#places_img4 {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -97px;
}

#places_img5 {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -5px -35px;
}

#places_img6 {
  width: 325px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  background-image: url(images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 103%;
  background-position: -4px -193px;
}

.places_txt_box {
  border: 1px solid black;
  display: flex;
  width: 325px;
  height: 75px;
}

.places_txt_box h2 {
  border: 1px solid pink;
}

.places_txt_box p {
  border: 1px solid rgb(112, 51, 161);
}

.places_txt_box .star {
  border: 1px solid pink;
  display: flex;
  color: #0065fc;
  bottom: 0px;
  font-size: 12px;
}
