/*  Sommaire

      * header
      * search
      * filters
      * info
      * accommodations
      * famous
      * places
      * activities
      * footer
      * @media

*/

/* header */

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#logo {
  margin: 2.813rem 0 1.563rem 3.125rem;
}

header nav {
  position: relative;
  padding: 0;
  margin-right: 1.25rem;
  width: 30rem;
}

nav li {
  width: 10rem;
}

header a {
  border-top: 0.125rem solid #f2f2f2;
  padding-top: 2.813rem;
}

#accommodations_link {
  top: 0;
  width: 10rem;
}

#activities_link {
  top: 0;
  width: 10rem;
}

#subscribe {
  top: 0;
  width: 10rem;
  text-align: center;
}

/* search */

#search_section {
  margin-left: 3.438rem;
}

#search_section h1 {
  margin: 0.313rem 0 0;
}

#search_section h2 {
  margin: 0.625rem 0 0.938rem;
  padding: 0;
}

#search_box {
  width: 26.25rem;
  max-width: 26.25rem;
}

#map_btn {
  width: 3.188rem;
}

#search_form {
  width: 23rem;
}

#search_txt {
  width: 14.375rem;
}

#search_btn2 {
  width: 8.375rem;
  height: 3.188rem;
  background-color: #0065fc;
  border-radius: 0 0.938rem 0.938rem 0;
  border: none;
  color: white;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

#search_btn1 {
  display: none;
}

/* filters */

#filters_section {
  margin: 1.563rem 0 1.875rem 3.938rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#filters_section h1 {
  margin-right: 1.875rem;
}

.filter_box h2 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: 3.75rem;
}

.filter_box {
  margin-right: 1.5rem;
}

.filter_box_1 {
  width: 11.875rem;
}

.filter_box_2 {
  width: 9.25rem;
}

.filter_box_3 {
  width: 11.25rem;
}

.filter_box_4 {
  width: 14.875rem;
}

/* info */

#info_section {
  margin: 1.25rem 0 2.188rem 3.438rem;
}

/* accommodations */

#accommodations_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

/* famous */

#famous_accommodations {
  width: 29.1%;
  border-radius: 1.25rem;
  margin-left: 2%;
}

#famous_title {
 margin: 2.875rem 2rem 1.563rem 2rem;
}

.famous_card {
  width: 82.1%;
  margin-bottom: 2.063rem;
}

/* places */

#places_container {
  width: 62%;
  background-color: #f2f2f2;
  border-radius: 1.25rem;
}

#places_container h1 {
  margin: 2.875rem 0 1.563rem 2.2rem;
}

#places_cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 4%;
  margin-right: 4%;
}

.places_card {
  width: 30.5%;
  height: 11.813rem;
  border: 0.313rem solid white;
  margin-bottom: 1.875rem;
}

#more {
  margin: 0.313rem 0 0 2.5rem;
}

/* activities */

#activities_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 92.84%;
  margin: auto;
  margin-bottom: 3rem;
}

#activities_cards_container_1, #activities_cards_container_2 {
  width: 48.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small_cards_container {
  width: 45.16%;
}

.activities_card {
  width: 48%;
  margin: 0;
}

.small_cards_container .activities_card {
  width: 100%;
}

.activities_card_1,
.activities_card_4 {
  height: 27.75rem;
}

.activities_card_2 {
  height: 14.75rem;
}

.activities_card_3 {
  height: 10.25rem;
}

.activities_card_5 {
  height: 12.125rem;
}

.activities_card_6 {
  height: 13.125rem;
}

.activities_card_1 .img {
  height: 24.313rem;
}

.activities_card_1 .activities_img_1 {
  height: 24.313rem;
}

.activities_card_2 .img {
  height: 11.313rem;
}

.activities_card_2 .activities_img_2 {
  height: 11.313rem;
}

.activities_card_3 .img {
  height: 6.813rem;
}

.activities_card_3 .activities_img_3 {
  height: 6.813rem;
}

.activities_card_4 .img {
  height: 24.313rem;
}

.activities_card_4 .activities_img_4 {
  height: 24.313rem;
}

.activities_card_5 .img {
  height: 8.688rem;
}

.activities_card_5 .activities_img_5 {
  height: 8.688rem;
}

.activities_card_6 .img {
  height: 9.688rem;
}

.activities_card_6 .activities_img_6 {
  height: 9.688rem;
}

.activities_img_3,.activities_img_5,.activities_img_6 {
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

.activities_img_2 {
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}

/* footer */

footer {
  padding: 3.125rem 0 3.438rem 3.125rem;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

@media screen and (min-width:1031px) and (max-width:1225px) {
  #famous_accommodations {
    width: 40%;
    height: 53.125rem;
    border-radius: 1.25rem;
    margin-left: 2.7%;
  }
  
  #famous_title {
   margin: 2.875rem 2rem 1.563rem 2rem;
  }
  
  .famous_card {
    width: 82.1%;
    height: 12.438rem;
    margin-bottom: 1.875rem;
  }

  .famous_card .img {
    height: 11.813rem;
  }
    
  .famous_img {
    height: 11.813rem;
  }

  .famous_txt_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 11.813rem;
  }

  .famous_txt_box .name_price {
    margin: 1rem 2rem 0 1rem;
  }
   
  .famous_txt_box .price {
    margin-top: 1rem;
  }
   
  .famous_txt_box .stars_box {
    margin: 0 0 0.6rem 1rem;
  }
  
  #places_container {
    width: 50%;
  }
  
  .places_card {
    width: 46%;
  }

  #activities_container {
    margin-bottom: 2rem;
  }

  #activities_cards_container {
    width: 90%;
    margin: auto;
  }
  
  #activities_cards_container_1, #activities_cards_container_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 48.5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .small_cards_container {
    width: 100%;
  }
  
  .activities_card {
    width: 100%;
    margin-bottom: 1.875rem;
  }
  
  .activities_card_1, .activities_card_4 {
    height: 14.75rem;
  }

  .activities_card_2 {
    height: 14.75rem;
  }

  .activities_card_3 {
    height: 14.75rem;
  }

  .activities_card_5 {
    height: 14.75rem;
  }

  .activities_card_6 {
    height: 14.75rem;
  }

  .activities_card_1 .img {
    height: 11.313rem;
  }

  .activities_card_1 .activities_img_1 {
    height: 11.313rem;
  }

  .activities_card_2 .img {
    height: 11.313rem;
  }

  .activities_card_2 .activities_img_2 {
    height: 11.313rem;
  }

  .activities_card_3 .img {
    height: 11.313rem;
  }

  .activities_card_3 .activities_img_3 {
      height: 11.313rem;
  }

  .activities_card_4 .img {
    height: 11.313rem;
  }

  .activities_card_4 .activities_img_4 {
    height: 11.313rem;
  }

  .activities_card_5 .img {
    height: 11.313rem;
  }

  .activities_card_5 .activities_img_5 {
    height: 11.313rem;
  }

  .activities_card_6 .img {
    height: 11.313rem;
  }

  .activities_card_6 .activities_img_6 {
    height: 11.313rem;
  }

  .activities_img_3,.activities_img_5,.activities_img_6 {
    -o-object-position: center;
       object-position: center;
  }

  .activities_img_2 {
    -o-object-position: center;
       object-position: center;
  }
}