header {
    justify-content: space-between;
    align-items: flex-start;
  }
  
#logo {
    margin: 2.813rem 0 1.563rem 3.125rem;
  }
  
header nav {
  position: relative;
  padding: 0;
  margin-right: 1.25rem;
  width: 30rem;
}
  
nav li {
  width: 10rem;
}
  
header a {
  border-top: 0.125rem solid #f2f2f2;
  padding-top: 2.813rem;
}
  
#acco_link {
  top: 0;
  width: 10rem;
}
  
#acti_link {
  top: 0;
  width: 10rem;
}
  
#subscribe {
  top: 0;
  width: 10rem;
  text-align: center;
}
  
/* search */
  
#search_section {
  margin-left: 3.438rem;
}
  
#search_section h1 {
  margin: 0.313rem 0 0;
}
  
#search_section h2 {
  margin: 0.625rem 0 0.938rem;
  padding: 0;
}
  
#search_btn2 {
  position: absolute;
  left: 18.125rem;
  bottom: -0.063rem;
  width: 8.75rem;
  height: 3.188rem;
  background-color: #0065fc;
  border-radius: 0 0.938rem 0.938rem 0;
  border: none;
  color: white;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}
  
#search_btn1 {
  display: none;
}
  
/* Filtres */
  
#filters_section {
  margin: 1.563rem 0 1.875rem 3.938rem;
  align-items: baseline;
}
  
#filters_section h1 {
  margin-right: 1.875rem;
}
  
.filter_box h2 {
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: 3.75rem;
}
  
.filter_box {
  margin-right: 1.5rem;
}
  
.filter_box_1 {
  width: 11.875rem;
}
  
.filter_box_2 {
   width: 9.25rem;
}
  
.filter_box_3 {
  width: 11.25rem;
}
  
.filter_box_4 {
  width: 14.875rem;
}
  
/* info */
  
#info_section {
   margin: 1.25rem 0 2.188rem 3.438rem;
}
  
/* accommodations */
  
#accommodations_container {
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 3rem;
}
  
/* famous */
  
#famous_accommodations {
  width: 40%;
  height: 53.125rem;
  border-radius: 1.25rem;
  margin-left: 2.7%;
}
  
#famous_title {
  margin: 2.875rem 2rem 1.563rem 2rem;
}
  
.famous_card {
  width: 82.1%;
  height: 12.438rem;
  margin-bottom: 1.875rem;
}

.famous_card .img {
  height: 11.813rem;
}
  
.famous_img {
  height: 11.813rem;
}

.famous_txt_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11.813rem;
}
  
.famous_txt_box .name_price {
   margin: 1rem 2rem 0 1rem;
}
  
.famous_txt_box .price {
  margin-top: 1rem;
}
  
.famous_txt_box .stars_box {
  margin: 0 0 0.6rem 1rem;
}

/* places */
  
#places_container {
  width: 50%;
  background-color: #f2f2f2;
  border-radius: 1.25rem;
}
  
#places_container h1 {
  margin: 2.875rem 0 1.563rem 2.5rem;
}
  
#places_cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 4.54%;
  margin-right: 4.54%;
}
  
.places_card {
  width: 45%;
  height: 11.813rem;
  border: 0.313rem solid white;
   margin-bottom: 1.875rem;
}
  
#more {
  margin: 0.313rem 0 0 2.5rem;
}
  
/* activities */

#activities_container {
  flex-direction: column;
  width: 92.84%;
  margin: auto;
  margin-bottom: 3rem;
}

#activities_cards_container {
  width: 90%;
  margin: auto;
}
  
#activities_cards_container_1, #activities_cards_container_2 {
  flex-direction: column;
  width: 48%;
  justify-content: space-between;
}
  
.activities_card {
  height: 14.75rem;
  margin: 0;
  margin-bottom: 1.875rem;
}

.activities_card .img {
  height: 11.313rem;
}

.activities_img {
  height: 11.313rem;
}

  
/* Footer */
  
footer {
  padding: 3.125rem 0 3.438rem 3.125rem;
}
  
#menu {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
  
  