#logo {
  margin: 1.563rem 0 1.563rem 1.25rem;
}

header {
  flex-direction: column;
}

header ul {
  height: 2.188rem;
}

header a {
  border-bottom: 0.188rem solid #f2f2f2;
  padding-bottom: 0.625rem;
}

#acco_link {
  width: 50%;
}

#acti_link {
  width: 50%;
}

#subscribe {
  top: 2.5rem;
  right: 1.25rem;
}

/* search */

#search_section {
  margin-top: 0.625rem;
  width: 88.8%;
  margin: auto;
  margin-bottom: 2.188rem;
}

#search_section h1 {
  margin: 0px;
}

#search_section h2 {
  margin: 0.625rem 0 1.875rem;
}

#search_btn1 {
  position: absolute;
  display: flex;
  left: 17.688rem;
  bottom: -0.063rem;
  width: 3.188rem;
  height: 3.188rem;
  background-color: #0065fc;
  border-radius: 0.938rem;
  border: none;
}

#search_btn1 .fas {
  color: white;
  font-size: 1.25rem;
  margin: auto;
}

#search_btn2 {
  display: none;
}

/* Filtres */

#filters_section {
  flex-direction: column;
  width: 88.8%;
  margin: auto;
}

#filters_section h1 {
  margin: 0px 0 0.75rem;
}

.filter_box h2 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 3.75rem;
}

.filter_box {
  margin: 0px 0.688rem 0.813rem 0px;
}

.fb1 {
  width: 10.813rem;
}

.fb2 {
  width: 8.5rem;
}

.fb3 {
  width: 10.373rem;
}

.fb4 {
  width: 13.5rem;
  margin-bottom: 0px;
}

/* info */

#info_section {
  margin: 1.875rem 0 1.875rem 1.25rem;
}

/* accommodations */

#accommodations_container {
  flex-direction: column;
}

/* famous */

#famous_container {
  padding-bottom: 1.563rem;
  align-items: center;
}

#famous_title {
  width: 90%;
  margin: 1.813rem 0 1.625rem 0;
 }

 .famous_card {
  width: 89.33%;
  margin-bottom: 0.688rem;
}

/* places */

#places_container h1 {
  width: 97.01%;
  margin: 0px;
}

.places_card {
  width: 86.66%;
  height: 11.813rem;
  border: 0.313rem solid white;
  margin: auto;
  margin-bottom: 0.688rem;
}

/* activities */

#activities {
  flex-direction: column;
}

#activities_cards_container {
  flex-direction: column;
}

#activities h1 {
  margin: 40px 0 32px 20px;
}

.activities_card {
  width: 89.06%;
  height: 11.813rem;
  margin: auto;
  margin-bottom: 1.5rem;
}

.activities_card .img {
  height: 8.375rem;
}

.activities_img {
  height: 8.375rem;
}

.activities_txt_box {
  width: 89.06%;
}

/* Footer */

#menu {
  flex-direction: column;
  margin-left: 1.8rem;
}

.about {
  margin-top: 45px;
}

.our_acco {
  margin-top: 25px;
}

.help {
  margin: 40px 0 40px 0px;
}
