/*  Sommaire

      * header
      * search
      * filters
      * info
      * accommodations
      * famous
      * places
      * activities
      * footer
      * @media

*/

header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#logo {
  margin: 1.563rem 0 1.563rem 1.25rem;
}

header ul {
  height: 2.188rem;
}

header a {
  border-bottom: 0.188rem solid #f2f2f2;
  padding-bottom: 0.625rem;
}

#accommodations_link {
  width: 50%;
}

#activities_link {
  width: 50%;
}

#subscribe {
  top: 2.5rem;
  right: 1.25rem;
}

/* search */

#search_section {
  margin: 0.625rem 0 2.188rem 0;
}

#search_section h1 {
  margin: 0 0 0 1.25rem;
}

#search_section h2 {
  margin: 0.625rem 0 2.188rem 1.25rem;
}

#search_box {
  margin-left: 1.25rem;
}

#search_btn1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 17.688rem;
  bottom: -0.063rem;
  width: 3.188rem;
  height: 3.188rem;
  background-color: #0065fc;
  border-radius: 0.938rem;
  border: none;
}

#search_btn1 .fas {
  color: white;
  font-size: 1.25rem;
  margin: auto;
}

#search_btn2 {
  display: none;
}

/* filters */

#filters_section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 1.875rem 1.25rem;
}

#filters_section h1 {
  margin: 0 0 0.75rem;
}

.filter_box h2 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 3.75rem;
}

.filter_box {
  margin: 0 0.688rem 0.813rem 0;
}

.filter_box_1 {
  width: 10.813rem;
}

.filter_box_2 {
  width: 8.5rem;
}

.filter_box_3 {
  width: 10.373rem;
}

.filter_box_4 {
  width: 13.5rem;
  margin-bottom: 0;
}

/* info */

#info_section {
  margin: 0 0 2.5rem 1.25rem;
}

/* accommodations */

#accommodations_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* famous */

#famous_accommodations {
  width: 100%;
}

#famous_accommodations_container {
  width: 100%;
  padding-bottom: 2.188rem;
}

#famous_title {
  margin: 2.5rem 0 1.25rem 1.25rem;
}

 #famous_title .fas {
  margin-right: 1.25rem;
}

 .famous_card {
  width: 89.33%;
  margin-bottom: 0.688rem;
}

/* places */

#places_container {
  width: 100%;
}

#places_container h1 {
  margin: 2.3rem 0 1.5rem 1.25rem;
}
  
.places_card {
  width: 86.66%;
  height: 11.813rem;
  border: 0.313rem solid white;
  margin: auto;
  margin-bottom: 0.688rem;
}

#more {
  margin: 1.125rem 0 0.625rem 1.25rem;
}

/* activities */

#activities_container {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.563rem;
}

#activities_container h1 {
  margin: 2.5rem 0 1.875rem 1.25rem;
}

#activities_cards_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#activities_cards_container_1, #activities_cards_container_2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.activities_card {
  width: 89.06%;
  height: 11.813rem;
  margin: auto;
  margin-bottom: 1.5rem;
}

.activities_card .img {
  height: 8.375rem;
}

.activities_img {
  height: 8.375rem;
}

.activities_txt_box {
  width: 89.06%;
}

/* footer */

footer {
  width: 100%;
}

#menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.8rem;
}

.about {
  margin-top: 2.813rem;
}

.our_accommodations {
  margin-top: 1.563rem;
}

.help {
  margin: 2.5rem 0 2.5rem 0;
}

@media screen and (min-width:644px) {
  #famous_cards_container {
    width: 96%;
    margin: auto;
  }

  #places_cards_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  
  .places_card {
    width: 45%;
    height: 11.813rem;
    border: 0.313rem solid white;
    margin-bottom: 1.875rem;
  }

  #activities_cards_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
    margin: auto;
  }
  
  #activities_cards_container_1, #activities_cards_container_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 48%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .activities_card {
    width: 100%;
    height: 14.75rem;
    margin: 0;
    margin-bottom: 1.875rem;
  }
  
  .activities_card .img {
    height: 11.313rem;
  }
  
  .activities_img {
    height: 11.313rem;
  }
}