/*  Sommaire

      * header
      * search
      * filters
      * info
      * accommodations
      * famous
      * places
      * activities
      * footer

*/

/* header */

html {
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 90rem;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Raleway", arial, sans-serif;
  letter-spacing: -0.019rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.07rem; 
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

header a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #0065fc;
  border-color: #0065fc;
}

#accommodations_link {
  position: absolute;
  text-align: center;
}

#activities_link {
  position: absolute;
  text-align: center;
}

#subscribe {
  color: #0065fc;
  position: absolute;
  border: none;
}

/* search */

#search_section h1 {
  font-size: 1.45rem;
  font-weight: 700;
}

#search_section h1::first-letter {
  letter-spacing: -0.188rem;
}

#search_section h2 {
  font-size: 1.07rem;
  font-weight: 400;
}

#search_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.063rem solid #f2f2f2;
  border-radius: 0.938rem;
  width: 20.875rem;
  height: 3.063rem;
  margin: 0;
  padding: 0;
}

#map_btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 0.938rem 0px 0px 0.938rem;
  width: 3.188rem;
  height: 3.188rem;
  right: 17.75rem;
  bottom: -0.063rem;
}

#map_icon {
  width: 0.938rem;
  margin: auto;
}

#search_txt {
  position: absolute;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  outline: none;
  width: 18.875rem;
  height: 1.25rem;
  top: 0.813rem;
  left: 3.125rem;
  padding-left: 0.938rem;
}

/* filters */

#filters_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#filters_section h1 {
  font-size: 1.1rem;
  font-weight: 700;
}

#filters_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.125rem solid #f2f2f2;
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
  height: 2.875rem;
}

.filter_btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  background-color: #deebff;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  left: -0.188rem;
}

.filter_btn:hover {
  width: 3.313rem;
  height: 3.313rem;
  border: 0.188rem solid #f2f2f2;
}

.filter_btn .fas {
  position: absolute;
  color: #0065fc;
  width: 100%;
  text-align: center;
}

.filter_box_1 .fas {
  font-size: 1.125rem;
  top: 0.938rem;
}

.filter_box_2 .fas {
  font-size: 1.313rem;
  top: 0.938rem;
}

.filter_box_3 .fas {
  font-size: 1.188rem;
  top: 1.063rem;
}

.filter_box_4 .fas {
  font-size: 1.313rem;
  top: 0.938rem;
}

/* info */

#info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#info_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 0.063rem solid #f2f2f2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

#info_btn .fas {
  margin: auto;
  color: #0065fc;
  font-size: 0.75rem;
}

#info_section p {
  font-size: 1.07rem;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 0.75rem;
}

/* accommodations */

#accommodations_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#accommodations h1 {
  font-size: 1.4rem;
  font-weight: 700;
}

.name {
  font-weight: 700;
  font-size: 1rem;
  color: black;
  margin: 0;
}

.price {
  font-weight: 400;
  font-size: 0.89rem;
  color: black;
}

.stars_box {
  width: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0065fc;
  font-size: 0.7rem;
}

/* famous */

#famous_accommodations {
  background-color: #f2f2f2;
}

#famous_accommodations_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
} 

#famous_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  padding: 0;
}

#famous_title h1 {
  margin: 0;
}

#famous_title .fas {
  font-size: 1.4rem;
}

#famous_cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.famous_card {
  display: block;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: white;
  height: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.5rem rgb(209, 204, 204);
          box-shadow: 0.125rem 0.125rem 0.5rem rgb(209, 204, 204);
}

.famous_card .img {
  width: 60%; 
  height: 8.375rem;
  margin-left: 0.313rem;
}

.famous_img {
  width: 100%;
  height: 8.375rem;
  border-radius: 0.938rem 0px 0px 0.938rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.famous_txt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8.375rem;
  width: 100%;
}

.famous_txt_box .name_price {
  margin: 0.7rem 2rem 0 1rem;
}

.famous_txt_box .price {
  margin-top: 0.313rem;
}

.famous_txt_box .stars_box {
  margin: 0 0 0.6rem 1rem;
}

.famous_stars_box_2 .fas:nth-child(5) {
  color: #e4e1e1;
}

.famous_stars_box_3 .fas:nth-child(5) {
  color: #e4e1e1;
}

/* places */

#places_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.places_card {
  display: block;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  height: 12.438rem;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.5rem rgb(209, 204, 204);
          box-shadow: 0.125rem 0.125rem 0.5rem rgb(209, 204, 204);
}

.places_card .img {
  height: 7.125rem;
}

.places_img {
  height: 7.125rem;
  border-radius: 0.938rem 0.938rem 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.places_txt_box {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.688rem;
}

.places_txt_box .name {
  margin: 0.75rem 0 0.3rem 0.625rem;
}

.places_txt_box .price {
  margin: 0 0 0.3rem 0.625rem;
}

.places_txt_box .stars_box {
 margin: 0 0 0.688rem 0.625rem;
}

.places_stars_box_1 .fas:nth-child(5) {
  color: #e4e1e1;
}

.places_stars_box_3 .fas:nth-child(5) {
  color: #e4e1e1;
}

.places_stars_box_4 .fas:nth-child(4) {
  color: #e4e1e1;
}

.places_stars_box_4 .fas:nth-child(5) {
  color: #e4e1e1;
}

.places_stars_box_5 .fas:nth-child(5) {
  color: #e4e1e1;
}

#more {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
}

/* activities */

#activities_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#activities_container h1 {
  font-size: 1.4rem;
  font-weight: 700;
  width: auto;
  margin: 0 0 1.25rem 0;
}

#activities_cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#activities_cards_container_1, #activities_cards_container_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small_cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activities_card {
  display: block;
  text-decoration: none;
  background-color: white;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0.125rem 0.125rem 0.5rem rgb(209, 204, 204);
          box-shadow: 0.125rem 0.125rem 0.5rem rgb(209, 204, 204)
}

.activities_img {
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.activities_txt_box {
  height: 3.438rem;
}

.activities_txt_box .name {
  padding-left: 0.938rem;
  padding-top: 1.125rem;
}

/* footer */

footer {
  background-color: #f2f2f2;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_list ul {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}

footer li {
  margin: 0 0 0.625rem 0;
}

.footer_list h3 {
  font-size: 1.1rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 20px 0;
}

footer a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
  font-size: 1.05rem;
  font-weight: 400;
}